.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.aboutMeContainer {
    width: min(90%, 600px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.aboutMeContainer::-webkit-scrollbar {
    display: none;
}

.imageContainer {
    position: relative;
    min-height: max(50%, 300px);
    width: max(80%, 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.description {
    width: 100%;
    font-size: 20px;
    text-align: justify;
    color: var(--foreground);
}

.description p {
    margin-top: 1rem;
}

.description li {
    margin-left: 1rem;
}

