.container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-top: var(--header-height);
    width: 100lvw;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
