.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border: none;
    background-color: var(--foreground);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.1s;
}

.active {
    background-color: var(--accent);
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}