.container {
    width: min(100%, 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: var(--dark-foreground);
    /* background-color: rgb(37, 37, 37); */
    border-radius: 20px;
    padding: 30px;
}

.container::-webkit-scrollbar {
    display: none;
}
  
.imageContainer {
    position: relative;
    width: max(30%, 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.image {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.title {
    font-size: max(20px, 3vmin);
    text-align: center;
}

.company {
    font-size: max(20px, 3vmin);
    text-align: center;
    color: var(--tertiary);
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: max(14px, 2vmin);
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skill {
    width: 60px;
    height: 60px;
}

.description {
    width: 100%;
    font-size: 20px;
    text-align: justify;
    color: var(--foreground);
}

.description p {
    margin-top: 1rem;
}

.description li {
    margin-left: 1rem;
}
