:root {
  --font-mono: 'Ubuntu', sans-serif;

  --primary: #122238;
  --secondary: #0C355B;
  --tertiary: #247BA0;
  --accent: #E3B23C;

  --font-color-light: #fff;
  --font-color-dark: #aaa;

  --background: #000;
  --foreground: #fff;
  --dark-foreground: #111;
  --box-shadow: #000;
  --scrollbar-background: var(--secondary);
  --scrollbar-thumb: var(--tertiary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
}

body {
  color: var(--font-color-light);
  background: var(--background);
  font-family: var(--font-mono);
}

h2 {
  font-size: max(25px, 5vmin);
  letter-spacing: 0.3em;
  margin-bottom: 1vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}