.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  --header-height: 80px;
}

.background {
  padding-top: var(--header-height);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 8px;
  z-index: -1000;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 90%;
  min-height: var(--header-height);
  max-height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
}

.main::-webkit-scrollbar {
  width: 16px;
  background: var(--scrollbar-background);
}

.main::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

@media screen and (max-width: 600px) {
  .main::-webkit-scrollbar {
    width: 8px;
  }
}

.section {
  padding-top: var(--header-height);
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
