.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipContainer {
  position: absolute;
  width: max(40vmin, 315px);
  height: max(40vmin, 315px);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--box-shadow);
}

.flipCard {
  position: absolute;
  width: max(40vmin, 315px);
  height: max(40vmin, 315px);
  border-radius: 50%;
}

@media (max-width: 350px) {
  .flipContainer {
    width: max(90vmin, 150px);
    height: max(90vmin, 150px);
    }
}

@media (max-height: 350px) {
  .flipContainer {
    width: max(90vmin, 150px);
    height: max(90vmin, 150px);
    }
}

.picture {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}

.git {
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}

.overlayImage {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: min(80px, 30vmin);
  height: min(80px, 30vmin);
  overflow: hidden;
  opacity: 1;
  background-color: var(--background);
  border-radius: 50%;
  border: min(10px, 5vmin) solid var(--background);
  animation: appear ease-in 0.5s;
  z-index: 1000;
}



@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}