.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.flipContainer {
  position: relative;
  width: max(40vmin, 315px);
  height: max(40vmin, 315px);
  border-radius: 50%;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.introContainer {
  pointer-events: none;
  position: absolute;
  width: 30vw;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  padding-left: 20px;
  font-size: max(12px, 1.5vw);
  font-weight: 100;
  letter-spacing: 0.3em;
  text-align: left;
  transition: all 0.2s;
}

.job {
  display: table;
  width: 100%;
  color: var(--accent);
  font-size: 70%;
  margin-top: 10px;
}

@media screen and (max-width: 1100px) {
  .introContainer {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 350px) or (max-height: 350px) {
  .flipContainer {
    width: max(90vmin, 150px);
    height: max(90vmin, 150px);
  }
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: black;
  box-shadow: 0 5px 10px var(--box-shadow);
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform ease 0.5s;
  cursor: pointer;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

.flipContainer.flipped .front {
  transform: rotateY(180deg);
}

.flipContainer.flipped .back {
  transform: rotateY(0deg);
}

.overlayImage {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 0;
  height: min(80px, 30vmin);
  overflow: hidden;
  opacity: 0.5;
  background-color: white;
  border-radius: 50%;
  z-index: 1000;
}

.overlayImage.flipped {
  position: absolute;
  width: min(80px, 30vmin);
  border: min(10px, 5vmin) solid white;
  animation: appear 0.8s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}