.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.homeIcon,
.menuIcon,
.socialIcon {
    color: var(--font-color-light);
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.menuIcon {
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    translate: -600px;
    transition: all 0.5s;
}

.menuIcon:active {
    opacity: 0;
    translate: 0 10px;
}

.socials,
.menuSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

.socials,
.menuSection li {
    cursor: pointer;
}

.menuSection {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 1;
    transition: all 0.5s;
}

@media screen and (max-width: 1000px) {

    .socials,
    .menuSection {
        gap: 20px;
    }
}

@media screen and (max-width: 880px) {
    .menuSection {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 680px) {
    .menuIcon {
        position: relative;
        height: 25px;
        width: 25px;
        opacity: 1;
        translate: 0;
    }

    .socials {
        gap: 40px;
    }

    .menuSection {
        background-color: var(--secondary);
        width: 0;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
        position: absolute;
        right: 0;
        top: 45px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        transition: all 0.2s ease-out 0.2s;
    }

    .menuSection li {
        opacity: 0;
        translate: 200px;
        transition: all 0.2s;
    }

    .menuSection.open {
        height: 180px;
        width: 180px;
        transition: all 0.2s ease-out;
    }

    .menuSection.open li {
        opacity: 1;
        translate: 0;
        transition: all 0.2s 0.2s;
    }
}