.container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.homeIcon,
.menuIcon,
.socialIcon {
    color: var(--font-color-light);
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: scale 0.1s;
}

.menuIcon {
    pointer-events: none;
    display: none;
    transition: opacity 0.1s, scale 0.1s;
}

.homeIcon:hover,
.menuIcon:hover,
.socialIcon:hover {
    scale: 0.9;
}

.homeIcon:active,
.socialIcon:active {
    scale: 1.1;
}


.menuIcon:active {
    opacity: 0;
    scale: 1.5;
}

.socials,
.menuSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

.socials,
.menuSection li {
    cursor: pointer;
}

.menuSection {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 1;
}

@media screen and (max-width: 1030px) {

    .socials,
    .menuSection {
        gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .menuSection {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 690px) {
    .menuIcon {
        position: relative;
        pointer-events: auto;
        display: block;
    }

    .socials {
        gap: 40px;
    }

    .menuSection {
        background-color: var(--secondary);
        height: 180px;
        width: 180px;
        transform: scale(0, 0);
        opacity: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
        position: absolute;
        right: 0;
        top: 45px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        transition: transform 0.2s ease-out, opacity 0.2s;
    }

    .menuSection.open {
        opacity: 1;
        transform: scale(1, 1);
    }
}