.skill {
    position: relative;
    height: 60px;
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skillName {
    position: absolute;
    top: 50px;
    vertical-align: top;
    background-color: var(--tertiary);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    transition: 0.2s;
}

.skill:hover .skillName {
    opacity: 1;
}
